
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatty Bot</title>
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/index.css">


</head>
<body>
    <header class="hero-section">
    <div class="navbar">
    <div class="brand">Zeotap Bot</div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</div>


        <div class="hero-graphic">
            <img src="/static/robot.png" alt="Chatbot" class="robot-image">
        </div>

    </header>
<div class="hero-content">

            <div class="hero-buttons">
                <button onclick="window.location.href='/chat'">Chat Now</button>
                <button onclick="window.location.href='/login'">Login</button>
            </div>
        </div>
</body>
</html>
